* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
.navbar {
    width: 100%;
    padding: 30px 50px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.search-container {
    position: relative;
}
#search-icons {
    position: absolute;
    top: 10px;
    right: 250px;
}

#search-icon {
    font-size: 23px;
    cursor: pointer;

}
.input-search{

    
}

.search-bar {
    width: 724px;
    position: absolute;
    background-color:#e4e2e2;
    right: 26px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid black;
   
}

.search-bar input {
    width: 95%;
    padding: 10px;
    border: none;
    background-color: #e4e2e2;
     bottom: 10px;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #7b4dbb;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
}

.nav-links a.active {
    color: #7b4dbb;
    font-weight: 600;
}

.nav-icons {
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #444;
}
.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 40vh;
    background: #111;
    padding-top: 60px;
   
    z-index: 1500;
}
.side-menu a {
    display: block;
    color: #fff;
    padding: 15px 20px;
    font-size: 18px;
    text-decoration: none;
}
.side-menu a:hover {
    background: #792e2e;
    padding-left: 30px;
   
}
#menuToggle:checked ~ .side-menu {
    right: 0;
    background-color: white;
}
#menuToggle:checked ~ .over {
    display: block;
}
.over {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.3);
    z-index: 1000;
}

.hero {
    background: #0d0d0d;
    padding: 200px 80px;
    color: white;
}

.hero-content {
    max-width: 700px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
}
.about-section {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 0;
}

.about-left {
    width: 45%;
}

.about-left h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.about-left p {
    display: flex;
    line-height: 1.8;
    font-size: 16px;
    color: #555;
    margin-top: 100px;

}


.about-right {
    width: 45%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.right-top {
    width: 50%;
    gap: 15px;
}
.right-bottom{
    width: 50%;

    
}

.right-top img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 6px;
}

.right-bottom img {
    width: 100%;
    height:520px;
    object-fit: cover;
    border-radius: 6px;
}
.team-section {
    padding: 40px;
    font-family: Georgia, serif;
}

.team-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.team-wrapper {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.team-card {
    width: 440px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.icons {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.icons a {
    color: white;
    font-size: 20px;
    opacity: 0.9;
    transition: 0.2s;
}

.icons a:hover {
    opacity: 1;
}

.member-info {
    position: absolute;
    bottom: 8px;
    left: 10px;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}
.vision-section {
    width: 90%;
    margin: auto;
    padding-top: 40px;
}

.vision-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}


.vision-container {
    width: 100%;
    display: flex;
    background: black;
    color: white;
    border-radius: 5px;
    overflow: hidden;
}


.vision-left {
    width: 45%;
    padding: 40px;
    display: flex;
    align-items: center;
}

.vision-left p {
    font-size: 16px;
    line-height: 1.8;
}


.vision-right {
    width: 55%;
}

.vision-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
    background: #f8f8f8;
    
}

.feature-box {
    width: 24%;
}

.feature-box i {
    font-size: 55px;
    color: #555;
    margin-bottom: 15px;
}

.feature-box h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
}

.feature-box p {
    font-size: 15px;
    color: #777;
    line-height: 1.6;
}
.footer {
    background: #050505;
    color: #fff;
    padding: 50px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.footer-logo h2 {
    font-size: 35px;
    font-weight: 600;
    color: #8e3996; ;
    margin-bottom: 30px;
    background-color: white;
    width: 150px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-col {
    flex: 1;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.footer-col ul li {
    list-style: none;
    margin-bottom: 18px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #6a3f3f;
}
.vertical-line {
    width: 1px;          
    height: 100px;       
    background: #585858;    
}
.footer-col p {
    color: #ccc;
    margin-bottom: 12px;
    line-height: 1.5;
}

.social-icons a {
    margin-right: 12px;
    font-size: 20px;
    color: #ccc;
     border: 2px solid rgb(177, 44, 164);
      padding: 5px;

}

.social-icons a:hover {
    color: #fff;
}

.newsletter {
    display: flex;
    margin-top: 10px;
     border: 2px solid #962a96; 
}

.newsletter input {
    padding: 10px;
    width: 65%;
    border: none;
    outline: none;
   
    background-color: black;
}

.newsletter button {
    padding: 10px 20px;
    background:  #a236b0;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: 0.3s;
}

.newsletter button:hover {
    background: #8a5ad6;
}
@media (max-width: 1024px) {

    .navbar {
        padding: 15px 30px;
    }

    .about-section,
    .vision-container {
        flex-direction: column;
        text-align: center;
    }

    .about-left,
    .about-right,
    .vision-left,
    .vision-right {
        width: 100%;
    }

    .right-top img,
    .right-bottom img {
        height: 300px;
    }

    .team-wrapper {
        flex-wrap: wrap;
    }

    .team-card {
        width: 48%;
        height: 300px;
    }

    .features {
        flex-wrap: wrap;
        gap: 40px;
    }

    .feature-box {
        width: 45%;
    }
}


@media (max-width: 768px) {

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .navbar {
        padding: 15px 20px;
    }

    .hero {
        padding: 150px 30px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .about-section {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .team-card {
        width: 100%;
        height: 320px;
    }

    .vision-container {
        flex-direction: column;
    }

    .vision-right img {
        height: 300px;
    }

    .features {
        flex-direction: column;
        gap: 50px;
    }

    .feature-box {
        width: 90%;
        text-align: center;
    }

    .footer-row {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter input {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .newsletter button {
        width: 100%;
        border-radius: 5px;
    }
}


@media (max-width: 576px) {

    .hero {
        padding: 120px 20px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .team-card {
        height: 280px;
    }

    .about-left p {
        margin-top: 20px;
    }

    .right-top img,
    .right-bottom img {
        height: 250px;
    }

    .vision-left p {
        font-size: 15px;
    }

    .feature-box i {
        font-size: 40px;
    }

    .feature-box h3 {
        font-size: 18px;
    }
}


@media (max-width: 420px) {

    .logo {
        font-size: 20px;
    }

    .nav-icons {
        gap: 10px;
        font-size: 16px;
    }

    .team-card {
        height: 250px;
    }

    .hero {
        padding: 100px 15px;
    }

    .hero h1 {
        font-size: 24px;
    }

    .hero p {
        font-size: 14px;
    }

    .about-left h2,
    .vision-title,
    .team-section h2 {
        font-size: 24px;
    }

    .features {
        padding: 60px 0;
    }
}


@media (max-width: 360px) {

    .navbar {
        padding: 12px 15px;
    }

    .team-card {
        height: 220px;
    }

    .vision-right img {
        height: 220px;
    }

    .feature-box {
        width: 100%;
    }

    .feature-box h3 {
        font-size: 16px;
    }

    .footer-logo h2 {
        font-size: 28px;
    }
}